{{page-title 'Dummy'}}

<FlowEditor as |api|>
  <div class="hello-node node {{api.nodeClass}}">
    Hello
    <div class='handle edge-bottom' {{api.addEdge 'a' position='bottom'}}></div>
  </div>

  <div
    class="bye-node node {{api.nodeClass}}"
    {{style top='150px' left='130px'}}
  >
    Good Bye
    <div class='handle edge-left' {{api.addEdge 'a' position='left'}} {{api.addEdge 'b' position='left'}}></div>
  </div>

  <div
    class="bye-node node {{api.nodeClass}}"
    {{style top='130px' left='250px'}}
  >
    Wave
    <div class='handle edge-top' {{api.addEdge 'b' position='top'}}></div>
  </div>
</FlowEditor>

{{outlet}}