{{page-title 'Dummy'}}

<FlowEditor as |api|>
  <api.Node class='hello-node'>
      Hello
    <div class='handle edge-bottom' {{api.addEdge 'a' position='bottom'}}></div>
  </api.Node>

  <Node
    class="bye-node"
    {{style top='150px' left='130px'}}
  >
    Good Bye
    <div class='handle edge-left' {{api.addEdge 'a' position='left'}} {{api.addEdge 'b' position='left'}}></div>
  </Node>

  <Node
    class="bye-node"
    {{style top='250px' left='50px'}}
  >
    Wave
    <div class='handle edge-top' {{api.addEdge 'b' position='top'}}></div>
  </Node>
</FlowEditor>

{{outlet}}